<div class="coral-Form-fieldwrapper" data-sly-use.model="com.bounteous.core.models.editor.components.datatypeproperties.CfxParentModelPropertyName">
    <label class="coral-Form-fieldlabel">Parent Model Property Name</label>
    <input class="coral-Form-field field-text-descriptor coral3-Textfield" type="text" name="${model.nameBase}/cfModelPropertyName"
           placeholder="Enter field name of content fragment model"
           value="${model.cfModelPropertyName}" data-foundation-validation="" data-validation="" is="coral-textfield" id="coral-id-${model.name}"
           aria-invalid="false">
    <input type="hidden" name="${model.nameBase}/emptyOption" value="true">
    <input type="hidden" name="${model.nameBase}/emptyOption@TypeHint" value="Boolean">
</div>